---
import { env } from "cloudflare:workers";
import { eq } from "drizzle-orm";
import { drizzle } from "drizzle-orm/d1";
import Layout from "../../layouts/Layout.astro";
import { customersTable } from "../../schemas/todos-schema";

export const prerender = false;
const companyName = Astro.url.searchParams.get("companyName") ?? "";

const db = drizzle(env.todos);

const results = await db
  .select()
  .from(customersTable)
  .where(eq(customersTable.CompanyName, companyName))
  .orderBy(customersTable.ContactName);
---

<Layout title={`${companyName} (Drizzle version)`}>
  <table>
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
      </tr>
    </thead>
    <tbody>
      {
        results.map((customer) => (
          <tr>
            <td>{customer["CustomerId"]}</td>
            <td>{customer["CompanyName"]}</td>
            <td>{customer["ContactName"]}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
