---
import { env } from "cloudflare:workers";
import { drizzle } from "drizzle-orm/d1";
import { customersTable } from "../../db/todos-schema";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const db = drizzle(env.todos);

const drizzleResults = await db
  .selectDistinct({ name: customersTable.CompanyName })
  .from(customersTable)
  .orderBy(customersTable.CompanyName);

const { results: sqlResults } = await env.todos
  .prepare("SELECT DISTINCT CompanyName FROM Customers ORDER BY CompanyName")
  .run();
---

<Layout title="Customers">
  <form action="./sql" method="GET">
    <h2>SQL</h2>
    <p>
      <select class="select" name="companyName">
        {sqlResults.map(({ CompanyName }) => <option>{CompanyName}</option>)}
      </select>
    </p>
    <p>
      <button class="btn btn-primary">Go</button>
    </p>
  </form>
  <form action="./drizzle" method="GET">
    <h2>Drizzle</h2>
    <p>
      <select class="select" name="companyName">
        {drizzleResults.map(({ name }) => <option>{name}</option>)}
      </select>
    </p>
    <p>
      <button class="btn btn-primary">Go</button>
    </p>
  </form>
  <p>
    <a href="drizzle">Drizzle</a>
  </p>
  <p>
    <a href="sql">SQL</a>
  </p>
</Layout>
