---
import { env } from "cloudflare:workers";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const companyName = Astro.url.searchParams.get("companyName");

const { results } = await env.todos
  .prepare("SELECT * FROM Customers WHERE CompanyName = ?")
  .bind(companyName)
  .run();
---

<Layout title={`${companyName} (SQL version)`}>
  <table>
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
      </tr>
    </thead>
    <tbody>
      {
        results.map((customer) => (
          <tr>
            <td>{customer["CustomerId"]}</td>
            <td>{customer["CompanyName"]}</td>
            <td>{customer["ContactName"]}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
