{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-classnames",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-astro-organize-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-merge"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
