---
import Layout from "../../layouts/Layout.astro";
import { getStaticPaths } from "./[counterId]/_getStaticPaths";
const paths = getStaticPaths();
---

<Layout title="Counters">
  {
    paths.map(({ params }) => (
      <p>
        <a class="link" href={`./${params.counterId}/`}>
          {params.counterId}
        </a>
      </p>
    ))
  }
</Layout>
