---
import Layout from "../../layouts/Layout.astro";
import { getStaticPaths } from "./[counterId]/_getStaticPaths";
const paths = getStaticPaths();

export const prerender = false;
---

<Layout title="Counters">
  {
    paths.map(({ params }) => (
      <p>
        <a class="link" href={`./${params.counterId}/`}>
          {params.counterId}
        </a>
      </p>
    ))
  }
  <div class="divider"></div>
  <h2>Custom counter</h2>
  <form id="custom">
    <input class="input input-primary" placeholder="Name" name="name" />
    <button type="submit" class="btn btn-primary">Go</button>
  </form>
</Layout>

<script>
  const form = document.getElementById("custom");
  form?.addEventListener("submit", async (event) => {
    if (!(form instanceof HTMLFormElement)) {
      return;
    }
    event.preventDefault();
    const nameInput = form.elements.namedItem("name");
    if (!(nameInput instanceof HTMLInputElement)) {
      return;
    }
    const customName = nameInput.value;
    if (!/^\w+$/.test(customName)) {
      return;
    }
    // go to counter
    console.log(`Going to counter: ${customName}`);
    window.location.href = `./${customName}/`;
  });
</script>
