---
import Layout from "../../layouts/Layout.astro";
import { getStaticPaths } from "./[counterId]/_getStaticPaths";
const paths = getStaticPaths();
---

<Layout>
  <h1>Counters</h1>

  {
    paths.map(({ params }) => (
      <a class="block p-2 text-blue-500" href={`./${params.counterId}/`}>
        {params.counterId}
      </a>
    ))
  }
</Layout>
