---
import Layout from "../../../layouts/Layout.astro";
export { getStaticPaths } from "./_getStaticPaths";

const { counterId } = Astro.params;
---

<Layout>
  <p>
    <a href={`${counterId}/api-calls`}>API Calls</a>
    <a href={`${counterId}/websockets`}>WebSockets</a>
    <a href={`${counterId}/react`}>React</a>
  </p>
</Layout>
