---
import Layout from "../../../layouts/Layout.astro";
export { getStaticPaths } from "./_getStaticPaths";

const { counterId } = Astro.params;
---

<Layout title={`Counter: ${counterId}`}>
  <p>
    <a class="link" href="api-calls">API Calls</a>
  </p>
  <p>
    <a class="link" href="websockets">WebSockets</a>
  </p>
  <p>
    <a class="link" href="react">React</a>
  </p>
</Layout>
