@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dracula --prefersdark,
    cupcake;
}

@theme {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --animate-fadein: fade-in 300ms forwards;
  --animate-fadeout: fade-out 300ms forwards;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@utility link {
  @variant dark {
    color: oklch(from var(--color-primary) 80% c h);
  }
}

@utility link-secondary {
  @variant dark {
    color: oklch(from var(--color-secondary) 80% c h);
  }
}

@layer components {
  .link {
    /*&[href] {
      &:hover {
        text-decoration: underline;
      }
      color: var(--color-sky-600);
      @variant dark {
        color: var(--color-sky-200);
      }
    }*/
    /*@apply link-hover;*/
  }

  /*.btn {
    cursor: pointer;
    padding: 0 var(--spacing-3);
    transition: background-color 0.1s ease-in-out;
    border-radius: var(--radius-md);

    background-color: var(--color-stone-200);
    color: var(--color-stone-950);
    box-shadow: var(--shadow-md);
    &:hover {
      background-color: var(--color-stone-300);
    }
    @variant dark {
      background-color: var(--color-stone-700);
      color: var(--color-stone-50);
      box-shadow: var(--shadow-md);
      &:hover {
        background-color: var(--color-stone-600);
      }
    }
  }*/
}
