---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <p>
    <a class="link" href="/chat/123">Chat</a>
  </p>
  <p>
    <a class="link" href="/counter/cats/">Cats Counter</a>
  </p>
  <p>
    <a class="link" href="/counter/birds/">Birds Counter</a>
  </p>
  <p>
    <a class="link" href="/syntax-test/">Syntax test</a>
  </p>
  <p>
    <a class="link" href="/customers/">Customers (d1 test)</a>
  </p>
  <p>
    <a class="link" href="/roller/">Dice Roller</a>
  </p>
</Layout>
