---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<p>
		<a href="/chat/123">Chat</a>
	</p>
	<p>
	<a href="/counter/1">Counter</a>
	</p>
	</body>
</html>
