---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" class="prose dark:prose-invert lg:prose-lg m-4">
  <p>
    <a class="link" href="/customers/">Customers (d1 test)</a>
  </p>
  <p>
    <a class="link" href="/roller/">Dice Roller</a>
  </p>
</Layout>
