---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dice Roller">
  <div class="mb-4 hidden rounded bg-red-500 p-4 text-white"></div>

  <form id="roomForm" class="card bg-base-100 w-200">
    <label class="input input-primary mb-2 w-200">
      <span class="label">Room name</span>
      <input name="roomName" />
      <input type="hidden" name="userId" />
    </label>
    <button class="btn btn-primary">Go</button>
  </form>
</Layout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  function getUserId() {
    const stored = localStorage.getItem("userId");
    if (stored) {
      return stored;
    } else {
      const generated = crypto.randomUUID();
      localStorage.setItem("userId", generated);
      return generated;
    }
  }

  let userId = getUserId();

  function init() {
    const formElement = document.getElementById("roomForm");
    if (!(formElement instanceof HTMLFormElement)) {
      return;
    }
    const inputElement = formElement.elements.namedItem("roomName");
    if (!(inputElement instanceof HTMLInputElement)) {
      return;
    }

    formElement.addEventListener("submit", async (event) => {
      event.preventDefault();
      const result = await actions.createChatWithDiceRoom({
        roomName: inputElement.value,
        userId,
      });
      if (result.error) {
        console.error(result.error);
      } else if (!(result.data instanceof Response)) {
        navigate(`rooms/${result.data.roomId}`);
      }
    });
  }
  init();
</script>
